.counts {
  margin: 12px 0;
  color: var(--secondary-color);
}
.counts span {
  color: var(--primary-color);
  font-weight: 500;
}
.input_container {
  margin-bottom: 40px;
}
@media screen and (min-width: 720px) {
  .input_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .counts {
    flex: 1;
  }
  .input {
    flex: 2;
  }
}
