.container {
  height: 100vh;
  padding: 24px;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.footer {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 32px;
}
