.heading {
  display: flex;
  padding: 20px 0;
}
.heading button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.heading_flag {
  flex: 1;
  margin-right: 16px;
}
.heading_name,
.heading_population,
.heading_area,
.heading_gini {
  flex: 4;
  color: var(--secondary-color);
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}
.heading_name {
  justify-content: flex-start;
}
.heading_arrow {
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
}
.row {
  display: flex;
  padding: 20px;
  text-align: center;
  background-color: var(--bg-color-light);
  border-radius: 8px;
  margin-bottom: 16px;
  box-shadow: var(--box-shadow);
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}
.row > * {
  font-weight: 500;
  color: var(--text-color);
}
.row:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.01);
}
.country_name,
.country_population {
  flex: 4;
}
.country_name,
.heading_name {
  text-align: left;
}
.country_area,
.country_gini {
  flex: 4;
}
.flag {
  flex: 1;
  border-radius: 2px;
  margin-right: 16px;
}
.flag img {
  max-width: 100%;
}

@media screen and (max-width: 720px) {
  .country_area,
  .country_gini,
  .heading_area,
  .heading_gini {
    display: none;
  }
}
